#project-component {
  .project-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;

    @media screen and (max-width: $tablet) {
      margin-bottom: 3.75rem;
    }
    @media screen and (max-width: $mobile) {
      margin-bottom: 2.5rem;
    }
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    row-gap: 4.375rem;
    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }

    .description {
      &--name {
        font-weight: 600;
        margin-top: 1.25rem;
        font-size: 1.5rem;
        display: block;
      }

      &--tags li {
        padding-right: 1.125rem;
        display: inline-block;

        font-weight: 400;
        font-size: 1.125rem;

        margin-top: 0.5rem;
      }
    }
    .img-container {
      position: relative;

      &:hover {
        .buttons-hover {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .buttons-hover {
      display: none;
      gap: 2rem;
      margin-top: 1.25rem;
      position: absolute;
      z-index: 1;
      background-color: rgba($color: #000000, $alpha: 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
    }
    @media screen and (max-width: $tablet) {
      .img-container {
        &:hover {
          .buttons-hover {
            display: none;
          }
        }
      }
      .buttons {
        display: flex;
        gap: 2rem;
        margin-top: 1.25rem;
      }
    }
    @media screen and (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: 3.75rem;
      .img-container {
        &:hover {
          .buttons-hover {
            display: none;
          }
        }
      }
    }
  }
}
