html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $black;
  color: $white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
span.tags {
  color: $grey;
}

.text {
  font-size: 18px;
  line-height: 28px;
}
