#skill-component {
  padding: 6.5625rem 0 4.375rem;
  position: relative;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.75rem;
    padding-top: 4.375rem;
    border-top: 0.0625rem solid $white;

    @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      border-bottom: 0.0625rem solid $white;
      row-gap: 1.5rem;
      li {
        text-align: center;
        .skill {
          &--title {
            font-size: 2rem;
          }
          &--experience {
            font-size: 1rem;
          }
        }
      }
      padding: 2.5rem 0;
    }
  }
  .ringPattern__skill {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    &--container {
      position: relative;
      right: -11.5625rem;
    }
  }

  @media screen and (max-width: $tablet) {
    padding-top: 4rem;
    .ringPattern__skill {
      position: absolute;
      bottom: 0;

      &--container {
        position: relative;
        right: -21.875rem;
      }
    }
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: $mobile) {
    ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .skill {
    &--title {
      font-size: 3rem;
      font-weight: 700;
    }
    &--experience {
      font-size: 1.125rem;
    }
  }
  span {
    display: block;
  }
}
