footer {
  background-color: $darkgrey;
  margin-top: 8.75rem;
  padding-top: 5.3125rem;
  position: relative;
  .container .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.625rem;
    > div {
      width: max-content;
    }
    span p {
      max-width: 27.8125rem;
      font-size: 1.125rem;
    }
    input,
    textarea {
      height: 2.5rem;
      margin-bottom: 2rem;
      color: $grey;
      width: 27.8125rem;
    }
    textarea {
      height: 6.25rem;
      margin-bottom: 2rem;
    }
    .submit-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }
  }
  .ringPattern__footer {
    position: absolute;
    bottom: 13.125rem;
    &--container {
      position: relative;
      left: -15rem;
    }
  }

  @media screen and (max-width: $tablet) {
    margin-top: 6.25rem;
    padding-top: 3.75rem;
    .container .top {
      flex-direction: column;
      align-items: center;
      gap: 1.875rem;
    }
    .right {
      text-align: center;
    }
    .bottom {
      padding: 1.875rem 0 2.5rem;
    }
    .ringPattern__footer {
      position: absolute;
      bottom: 12.5rem;
      &--container {
        left: -25rem;
      }
    }
  }
  @media screen and (max-width: $mobile) {
    margin-top: 5rem;
    .container .top {
      input,
      textarea {
        width: 100%;
      }
      > div {
        width: 100%;
      }
    }
    .bottom {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding-bottom: 3.75rem;
    }
    .ringPattern__footer {
      position: absolute;
      bottom: 18.75rem;
      width: 300px;
      &--container {
        left: -18.75rem;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.8125rem 0 5.625rem;
  border-top: 0.0625rem solid $white;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  &--socials {
    display: flex;
    gap: 1.25rem;
    align-items: center;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
}
