#contact-form {
  position: relative;
  z-index: 9;
  label {
    display: none;
  }
  &:has(.error-message) {
    > div:not(:has(.error-message)) {
      input,
      textarea {
        border-color: $green;
      }
    }
  }
  > div {
    position: relative;

    &:has(.error-message) {
      input,
      textarea {
        border-color: $error;
      }
    }
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid $white;

    &:focus-visible {
      outline: none;
    }
    &:-internal-autofill-selected {
      background-color: transparent !important;
    }
  }
}

.errorIcon {
  width: 24px;
  height: 24px;
  border: 1px solid $error;
  border-radius: 999px;
  position: absolute;
  top: 6px;
  right: 0;

  &__circle {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    height: 100%;

    &--bar {
      width: 2px;
      height: 9px;
      background-color: $error;
    }
    &--dot {
      background-color: $error;
      width: 2px;
      height: 2px;
    }
  }
}

.error-message {
  font-size: 12px;
  color: $error;
  display: flex;
  justify-content: flex-end;

  position: absolute;
  bottom: 10px;
  right: 0;
}
