#contact-form {
  position: relative;
  z-index: 9;
  label {
    display: none;
  }
  input,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid $white;
  }
}
